.Step1{
    background-color: #eee;
    width: 200px;
    height: 70px;
    border: 1px dotted black;
    overflow: scroll;
}

.Step2{
    background-color: lightblue;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.Step3 {
    background-color: #eee;
    width: 150px;
    height: 70px;
    border: 1px dotted black;
    white-space: nowrap;
    overflow-x: scroll;
}